<div class="navigator-panel" {{action 'onLeftNavigatorSlideOpen' on='mouseEnter'}} {{action 'onLeftNavigatorSlideClose' on='mouseLeave'}}>
  <div class="nav-menu-icons">
    {{#if showBackToCourseMap}}
      <div class="course-map sub-header" {{action 'redirectCourseMap'}}>
        <div class="nav-icon-container">
          {{gru-icon name="sort"}}
        </div>
      </div>
    {{/if}}
    {{#if showBackButton}}
      <div class="back-to-collection sub-header" {{action 'closePlayer'}}>
        <div class="nav-icon-container">
          {{gru-icon name='keyboard_arrow_left'}}
        </div>
      </div>
    {{/if}}
    {{#if unitTitle}}
      <div class="course-unit sub-header">
        <div class="nav-icon-container">
          <i class="icon"></i>
          <span class="short-title">{{unitTitle.shortname}}</span>
        </div>
      </div>
    {{/if}}
    {{#if lessonTitle}}
      <div class="course-lesson sub-header">
        <div class="nav-icon-container">
          <i class="icon"></i>
          <span class="short-title">{{lessonTitle.shortname}}</span>
        </div>
      </div>
    {{/if}}
    {{#if collectionTitle}}
      <div class="collection sub-header {{unless collection.isCollection 'assessment'}}">
        <div class="nav-icon-container">
          <i class="icon"></i>
          <span class="short-title">{{collectionTitle.shortname}}</span>
        </div>
      </div>
    {{/if}}
    {{#if showBackToCollection}}
      <div class="back-to-collection sub-header" {{action 'backToCollection'}}>
        <div class="nav-icon-container">
          {{gru-icon name='keyboard_arrow_left'}}
        </div>
      </div>
    {{/if}}
    {{#if (or isTeacher isAnonymous)}}
      <div class="remix sub-header" {{action 'backToCollection'}}>
        <div class="nav-icon-container">
          {{gru-icon name='ic_content_copy'}}
        </div>
      </div>
      {{/if}}
  </div>
  <div class="nav-menu-titles">
    {{#if showBackToCourseMap}}
    <div class="course-map sub-header" {{action 'redirectCourseMap'}}>
      <span class="title">BACK TO COURSE MAP</span>
    </div>
  {{/if}}
  {{#if showBackButton}}
    <div class="back-to-collection sub-header" {{action 'closePlayer'}}>
      <span class="title">{{t 'common.back'}}</span>
    </div>
  {{/if}}
  {{#if unitTitle}}
    <div class="course-unit sub-header">
      <span class="title">{{unitTitle.fullname}}</span>
    </div>
  {{/if}}
  {{#if lessonTitle}}
    <div class="course-lesson sub-header">
      <span class="title">{{lessonTitle.fullname}}</span>
    </div>
  {{/if}}
  {{#if collectionTitle}}
    <div class="collection sub-header {{unless collection.isCollection 'assessment'}}">
      <span class="title">{{collectionTitle.fullname}}</span>
    </div>
  {{/if}}
  {{#if showBackToCollection}}
    <div class="back-to-collection sub-header" {{action 'backToCollection'}}>
      <span class="title">BACK TO COLLECTION</span>
    </div>
  {{/if}}
  {{#if (or isTeacher isAnonymous)}}
    <div class="remix sub-header" {{action 'remixCollection' collection}}>
      <span class="title">{{t 'common.remix'}}</span>
    </div>
  {{/if}}
  </div>
</div>
