{{#if showConfirmation}}
  {{player.qz-player-confirmation attempts=attempts collection=collection context=context onStartPlayer='openPlayer' onClosePlayer="closePlayer" onRemixCollection="remixCollection"}}
{{else}}
    <div class="component player">
      {{#unless showReport}}
          <div class="qz-aside">
            {{player.qz-navigator
              isTeacher=isTeacher
              collection=collection
              unit=unit
              lesson=lesson
              classId=classId
              course=course
              onRemixCollection="remixCollection"
              showBackToCourseMap=showBackToCourseMap
              showBackToCollection=showBackToCollection
              showBackButton=showBackButton
              onClosePlayer="onClosePlayer"
            }}

          </div>
      {{/unless}}
        <div class="qz-main {{if showFinishConfirmation 'submission-confirm'}}" role="main">
          {{#if collection.hasResources }}
            {{#if showFinishConfirmation}}
              {{player.qz-submit-confirmation onConfirmFinish='finishCollection'}}
            {{else}}
              {{#if resource}}
                {{player.qz-viewer
                isNotIframeUrl=isNotIframeUrl
                collection=collection
                resource=resource
                resourceResult=resourceResult
                role=role
                submitted=contextResult.submitted
                onSubmitQuestion="submitQuestion"}}
                {{player.qz-player-footer
                  resource=resource
                  isNavigationDisabled=isNavigationDisabled
                  isTeacher=isTeacher
                  submitted=contextResult.submitted
                  collection=collection
                  resourceResults=resourcesPlayer
                  selectedResourceId=resourceId
                  showFeedback=showFeedback
                  ratingScore=resourceResult.reaction
                  readOnly=contextResult.submitted
                  onChangeEmotion="changeEmotion"
                  onFinishCollection="submitAll"
                  showFinishConfirmation=showFinishConfirmation
                  onItemSelected="selectNavigatorItem"
                  showPrevious=showPrevious
                  showNext=showNext
                  onPreviousResource="previousResource"
                  onNextResource="nextResource"
                }}
              {{/if}}
            {{/if}}
          {{else}}
          {{! TODO add the not found component here}}
          {{/if}}
        </div>
    </div>
{{/if}}
