{{editor.assessment.qz-header options=options selected=selected headerActions=headerActions title=headerTitle}}

{{#if (eq selected 'prompt')}}
    <section id="prompt">
        <div class="header">
            <h2>{{t 'common.prompt'}}</h2>
        </div>
        <div class="panel panel-default assessment-task">
            <div class="panel-heading">
                <div class="border-bottom">
                    <h3>{{t 'common.assessment-task'}}</h3>
                </div>
                <div class="math-editor">
                  {{qz-rich-text-editor}}
                </div>
                <button class="add-image btn btn-sm btn-primary">{{t "common.add-question-image"}}</button>
            </div>
            <div class="panel-body">
                <div class="panel panel-default submission-format panel-borderless">
                    <div class="panel-heading">
                        <div class="border-bottom">
                            <h3>{{t 'common.student-submission-format'}}</h3>
                        </div>
                    </div>
                    <div class="panel-body">
                      {{editor.assessment.qz-submission-format}}
                    </div>
                </div>
            </div>
        </div>
    </section>
{{/if}}

{{#if (eq selected 'information')}}
    <section id="information">
        <div class="header">
            <h2>{{t 'common.information'}}</h2>
        </div>
        <div class="content">
          {{gru-image isEditing = true}}
            <div class="panel panel-default information">
                <div class="panel-body">
                    <div class="title">
                        <label>
                            <span class="required">{{t "common.assessment-title"}}</span>
                          {{validation.gru-input model=assessment valuePath='title' maxLength=50}}
                        </label>
                    </div>
                    <div class="learning-objective">
                        <label>
                            <span>{{t "common.learning-objective"}}</span>
                          {{validation.gru-textarea rawTextareaValue=assessment.learningObjective model=assessment valuePath='learningObjective' maxLength=500 rows=1}}
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </section>
{{/if}}
{{#if (eq selected 'rubric')}}
    <section id="rubric">
        <div class="header">
            <h2>{{t 'common.rubric'}}</h2>
        </div>
        <div class="panel panel-default rubric-creation">
            <div class="panel-heading">
                <div class="border-bottom">
                    <h3>{{t 'common.rubric-creation'}}</h3>
                </div>
            </div>
            <div class="panel-body">
              {{editor.assessment.qz-rubric-creation rubric=assessment.rubric}}
            </div>
        </div>
      {{#each categories as |category index|}}
        {{editor.assessment.qz-category category=category number=index onDeleteCategory='deleteCategory' onCopyCategory='copyCategory'}}
      {{/each}}
        <a class="add-prefix add-category" {{action 'addNewCategory'}}>{{t "qz-rubric-creation.qz-category.new-category"}}</a>
        <div class="panel panel-default overall-score">
            <div class="panel-heading">
                <div>
                    <h3>{{t 'over-all-score.title'}}</h3>
                </div>
            </div>
            <div class="panel-body">
                <div class="feedback">
                    <label>
                        <span>{{t "qz-rubric-creation.qz-category.feedback-guidance"}}</span>
                      {{validation.gru-textarea rawTextareaValue=assessment.feedbackGuidance model=assessment valuePath='feedbackGuidance' maxLength=500 rows=1 placeholder=(t 'over-all-score.feedback-guidance-placeholder')}}
                    </label>
                </div>
                <div class="total-points">
                    <span>{{t 'over-all-score.total-points'}}:</span>
                    <span class="label-pts">{{assessment.totalPoints}} {{t 'over-all-score.points'}}</span>
                </div>
                <label class="required-feedback">
                  <span {{action 'setFeedBack'}}>
                    {{#if assessment.requiredFeedback}}
                      {{gru-icon name='check_box'}}
                    {{else}}
                      {{gru-icon name='check_box_outline_blank'}}
                    {{/if}}
                  </span>
                  {{t 'qz-rubric-creation.qz-category.required-feedback'}}
                </label>
            </div>
        </div>
    </section>
{{/if}}
{{editor.assessment.qz-fixed-footer footerActions=footerActions}}
