{{reports.assessment.qz-summary
  contextResult=contextResult
  areQuestionLinksHidden=areAnswersHidden
  onSelectAttempt='selectAttempt'
  onBubbleSelect='bubbleSelect'
  isRealTime=isRealTime
  showAttempts=showAttempts}}

{{#if areAnswersHidden}}

  <div class="hidden-report">
    <span>{{t "qz-assessment-report.hidden-report"}}</span>
  </div>

{{else}}
  {{#if (and contextResult.hasMastery isAssessment)}}
    {{reports.assessment.qz-mastery
    learningTargets=contextResult.mastery
    assessmentResult=contextResult
    onBubbleSelect='bubbleSelect'}}
  {{/if}}

  {{#if resultsQuestions.length}}
    {{reports.assessment.qz-questions
      title=(t "qz-assessment-report.questions")
      isAnswerKeyHidden=isAnswerKeyHidden
      results=resultsQuestions}}
  {{/if}}

  {{#if resultsOpenEnded.length}}
    {{reports.assessment.qz-questions
      title=(t "qz-assessment-report.open-ended")
      isAnswerKeyHidden=isAnswerKeyHidden
      results=resultsOpenEnded
      showScore=false
      viewMode='open-ended'}}
  {{/if}}

  {{#if resultsResources.length}}
    {{reports.assessment.qz-resources
      title=(t "qz-assessment-report.resources")
      isAnswerKeyHidden=isAnswerKeyHidden
      results=resultsResources
      showReactionBar=true}}
  {{/if}}

{{/if}}
